body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.info.legend div {
  display: flex;
  align-items: center;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.depth-label {
  vertical-align: middle;
}

